@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}




.text-content{
    padding:0 2rem;
}

